/* Integrate fonts */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf")
      format("truetype"),
    url("../static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../static/Inter-Semibold.ttf") format("truetype");
  font-weight: 600;
}

/* Some variables */

:root {
  --small-font: 0.875rem;
  --large-font: 1.5rem;
  --regular: 400;
  --bold: 600;
}

/* Reset style */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}
img {
  display: block;
}
button {
  font: inherit;
}
p,
h1 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Base style */
body {
  background-color: hsl(0, 0%, 8%);
  min-height: 100vh;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: var(--regular);
}

main {
  background-color: hsl(0, 0%, 12%);
  border-radius: 0.75rem;
  align-items: center;
  gap: 1.75rem;
  padding: 2.5rem;
  max-width: 90%;
}
.image-container {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  overflow: hidden;
}
img {
  height: 5.375rem;
}
.personal-info {
  align-items: center;
  gap: 0.625rem;
}
h1 {
  font-family: "Inter", sans-serif;
  font-size: var(--large-font);
  font-weight: var(--bold);
}
.location {
  font-size: var(--small-font);
  font-weight: var(--bold);
  color: hsl(75, 94%, 57%);
}
.link-container {
  align-items: center;
  gap: 1.6875rem;
}
.link-container p {
  font-size: var(--small-font);
  color: rgb(208, 208, 208);
}
ul {
  gap: 1rem;
  width: 100%;
}
li {
  list-style: none;
  height: 2.8125rem;
  width: 100%;
  border-radius: 8px;
  background-color: hsl(0, 0%, 20%);
  font-weight: var(--bold);
  font-size: var(--small-font);
  text-align: center;
  line-height: 2.8125rem;
}
@media (min-width: 28.125rem) {
  li {
    width: 19.0625rem;
  }
}
a {
  text-decoration: none;
  color: white;
}

/* Hover effects */
li:hover {
  background-color: hsl(75, 94%, 57%);
  cursor: pointer;
}
li:hover a {
  color: black;
}

/* Add custom and reusable classes */
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.column {
  flex-direction: column;
}
